<a href="https://colab.research.google.com/github/MichiganDataScienceTeam/W26-Uber-Data-Analysis/blob/main/Week_2_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Import the relevant libraries.

In [9]:
import requests
import re
import pandas as pd
import numpy as np
import os
import json
from datetime import datetime
from urllib.parse import quote

2. Load the "corrupted" dataset. Make sure to run methods like .head() and .info() to make sure it was loaded properly!

In [10]:
df = pd.read_csv(
    "UberDataset [CORRUPTED].csv")

3. Iterate through all dataframe columns to check for NaN (empty) cells. If you find one, override the cell with '**NO_DATA**'.

In [11]:
for col in df.columns:
    df[col] = df[col].fillna("NO_DATA")

4. Focus at the START and STOP columns. Scroll around a bit and find the typos. Make a custom pattern that can be used for both typo formats. **OVERRIDE** the previous cell.

The correct words should be: Rawalpindi and Karachi.

Hint: use r'STRING' (raw) for your pattern, and use .findall(pattern, string).

In [12]:
pattern = r'([A-Z][a-z]*)\?([a-z]*)'
for i in df.index:
  startVal = df.at[i, 'START']
  stopVal = df.at[i, 'STOP']
  if '?' in startVal:
    grouping = re.findall(pattern, startVal)[0]
    firstPart = grouping[0]
    secondPart = grouping[1]
    fixedWord = f'{firstPart}a{secondPart}'
    df.at[i, 'START'] = fixedWord


  if '?' in stopVal:
    grouping = re.findall(pattern, stopVal)[0]
    firstPart = grouping[0]
    secondPart = grouping[1]
    fixedWord = f'{firstPart}a{secondPart}'
    df.at[i, 'STOP'] = fixedWord

df.head(500)

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,11-05-2016 19:20,11-05-2016 19:28,Business,Agnew,Agnew,2.2,NO_DATA
1,11-04-2016 22:12,11-04-2016 22:25,Business,Cory,Agnew,3.9,NO_DATA
2,11-05-2016 17:29,11-05-2016 17:40,Business,Renaissance,Agnew,2.8,NO_DATA
3,11-06-2016 16:05,11-06-2016 16:22,Business,Renaissance,Agnew,2.8,Meeting
4,3/17/2016 17:20,3/17/2016 18:02,Business,Midtown,Alief,15.5,Meal/Entertain
...,...,...,...,...,...,...,...
495,12/28/2016 18:33,12/28/2016 18:56,Business,Karachi,Karachi,3.8,Errand/Supplies
496,12/28/2016 22:44,12/28/2016 23:18,Business,Karachi,Karachi,5.1,Errand/Supplies
497,12/29/2016 0:49,12/29/2016 1:06,Business,Karachi,Karachi,3.8,Errand/Supplies
498,12/29/2016 12:25,12/29/2016 12:33,Business,Karachi,Karachi,1.4,Errand/Supplies
499,12/29/2016 13:17,12/29/2016 13:24,Business,Karachi,Karachi,1.1,Errand/Supplies

5. Override all 'Unknown Location' values to 'NO_DATA'

In [13]:
for i in df.index:
  startVal = df.at[i, 'START']
  stopVal = df.at[i, 'STOP']
  if 'Unknown' in startVal:
    df.at[i, 'START'] = 'NO_DATA'
  if 'Unknown' in stopVal:
    df.at[i, 'STOP'] = 'NO_DATA'
df.tail(500)

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
654,07-03-2016 00:28,07-03-2016 00:38,Business,Cary,Morrisville,3.1,Errand/Supplies
655,07-06-2016 20:04,07-06-2016 20:14,Business,Cary,Morrisville,3.3,Meal/Entertain
656,07-07-2016 08:22,07-07-2016 08:50,Business,Cary,Morrisville,7.9,Temporary Site
657,7/13/2016 12:39,7/13/2016 13:20,Personal,Cary,Morrisville,23.5,NO_DATA
658,7/14/2016 15:51,7/14/2016 15:59,Personal,Cary,Morrisville,3.3,NO_DATA
...,...,...,...,...,...,...,...
1149,11-01-2016 19:14,11-01-2016 19:20,Business,Whitebridge,Whitebridge,1.0,NO_DATA
1150,11-01-2016 19:59,11-01-2016 20:12,Business,Whitebridge,Whitebridge,4.1,NO_DATA
1151,11-01-2016 20:41,11-01-2016 20:55,Business,Whitebridge,Whitebridge,4.2,Meal/Entertain
1152,02-02-2016 13:04,02-02-2016 13:23,Business,Whitebridge,Williamsburg Manor,8.3,Meeting
1153,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting

6. Convert all the START_DATE and END_DATE values to datetime objects.

In [14]:
df['START_DATE'] = pd.to_datetime(df['START_DATE'], errors='coerce', format='mixed')
df['END_DATE'] = pd.to_datetime(df['END_DATE'], errors='coerce', format='mixed')

7. Create a function that validate that timings for the trip makes sense (start date should be less than end date), and if not, sets both START_DATE and END_DATE to NaT

In [15]:
def invalid_trip_time(df: pd.DataFrame) -> pd.DataFrame:
  invalid = df["START_DATE"] >= df["END_DATE"]

  df.loc[invalid, "START_DATE"] = pd.NaT
  df.loc[invalid, "END_DATE"] = pd.NaT

  return df

8. Extract these specific time features: hour, day of the week, if it is rush hour (let rush hour be between 7-9 am and 4-6 pm), and if it is the weekend (based on START_DATE column)

In [16]:
df["hour"] = df["START_DATE"].dt.hour
df["day_of_week"] = df["START_DATE"].dt.dayofweek
df["is_weekend"] = df["day_of_week"] > 5
df["is_rush_hour"] = ((df["hour"].between(7,9)) |  (df["hour"].between(16,18)))

# New Section

9. Connect to our **GitHub**. The API data is divided up into hourly segments. Using both the **START** location and the **START_DATE**, as well as the datetime attributes, make a web request for each of your rows.

Hint：Find & get the corresponding index in the hourly list, then use that to get the other attributes.

PLEASE CACHE YOUR DATA TO AVOID BURNING THE SERVER.

In [17]:
# 1. Create a local directory for the cache
cache_dir = 'cached'
if not os.path.exists(cache_dir):
    os.makedirs(cache_dir)

for idx, i in enumerate(df['START']):
    # The local filename where we store the JSON
    cache_file = os.path.join(cache_dir, f"{i}.json")

    # 2. CHECK CACHE: Only make a request if the file isn't local
    if os.path.exists(cache_file):
        with open(cache_file, 'r') as f:
            firstRequest = json.load(f)['hourly']
    else:
        url = f'https://23likenny.github.io/MDSTUber/Week2/{i}.json'
        holder = requests.get(url)

        if holder.status_code == 200:
            full_json = holder.json()
            # SAVE to cache for next time
            with open(cache_file, 'w') as f:
                json.dump(full_json, f)
            firstRequest = full_json['hourly']
        else:
            print(f"Skipping Index {idx}: {i} not found at URL.")
            continue

    x = firstRequest['time']
    currentTime = df.at[idx, 'START_DATE']
    target_str = currentTime.strftime('%Y-%m-%dT%H:00')
    find_idx = x.index(target_str)

    # Pulling your variables
    temperature = firstRequest['apparent_temperature'][find_idx]
    is_day = firstRequest['is_day'][find_idx]
    rain = firstRequest['rain'][find_idx]
    snowfall = firstRequest['snowfall'][find_idx]
    showers = firstRequest['showers'][find_idx]
    weather_code = firstRequest['weather_code'][find_idx]
    wind_speed_10m = firstRequest['wind_speed_10m'][find_idx]
    wind_gusts_10m = firstRequest['wind_gusts_10m'][find_idx]
    print(f'Current Index: {idx}. The temperature is {temperature}')


    # Writing to DataFrame
    df.at[idx, 'TEMPERATURE'] = temperature
    df.at[idx, 'IS_DAY'] = is_day
    df.at[idx, 'RAIN'] = rain
    df.at[idx, 'SNOWFALL'] = snowfall
    df.at[idx, 'SHOWERS'] = showers
    df.at[idx, 'WEATHER_CODE'] = weather_code
    df.at[idx, 'WIND_SPEED_10M'] = wind_speed_10m
    df.at[idx, 'WIND_GUSTS_10M'] = wind_gusts_10m

Current Index: 0. The temperature is 49.3
Current Index: 1. The temperature is 41.6
Current Index: 2. The temperature is 52.5
Current Index: 3. The temperature is 43.9
Current Index: 4. The temperature is 50.9
Current Index: 5. The temperature is 75.6
Current Index: 6. The temperature is 91.5
Current Index: 7. The temperature is 73.5
Current Index: 8. The temperature is 35.3
Current Index: 9. The temperature is 44.0
Current Index: 10. The temperature is 30.9
Current Index: 11. The temperature is 55.2
Current Index: 12. The temperature is 76.6
Current Index: 13. The temperature is 96.2
Current Index: 14. The temperature is 91.8
Current Index: 15. The temperature is 73.5
Current Index: 16. The temperature is 60.0
Current Index: 17. The temperature is 44.3
Current Index: 18. The temperature is 43.7
Current Index: 19. The temperature is 45.1
Current Index: 20. The temperature is 28.8
Current Index: 21. The temperature is 51.0
Current Index: 22. The temperature is 52.4
Current Index: 23. The temperature is 96.3
Current Index: 24. The temperature is 83.7
Current Index: 25. The temperature is 54.3
Current Index: 26. The temperature is 60.1
Current Index: 27. The temperature is 75.8
Current Index: 28. The temperature is 63.8
Current Index: 29. The temperature is 74.2
Current Index: 30. The temperature is 75.2
Current Index: 31. The temperature is 81.3
Current Index: 32. The temperature is 69.9
Current Index: 33. The temperature is 68.7
Current Index: 34. The temperature is 72.7
Current Index: 35. The temperature is 83.3
Current Index: 36. The temperature is 98.7
Current Index: 37. The temperature is 68.2
Current Index: 38. The temperature is 53.2
Current Index: 39. The temperature is 44.4
Current Index: 40. The temperature is 60.7
Current Index: 41. The temperature is 58.3
Current Index: 42. The temperature is 72.3
Current Index: 43. The temperature is 74.2
Current Index: 44. The temperature is 71.2
Current Index: 45. The temperature is 58.4
Current Index: 46. The temperature is 72.2
Current Index: 47. The temperature is 71.3
Current Index: 48. The temperature is 62.7
Current Index: 49. The temperature is 76.0
Current Index: 50. The temperature is 68.0
Current Index: 51. The temperature is 63.4
Current Index: 52. The temperature is 69.5
Current Index: 53. The temperature is 52.1
Current Index: 54. The temperature is 68.6
Current Index: 55. The temperature is 82.3
Current Index: 56. The temperature is 72.4
Current Index: 57. The temperature is 29.6
Current Index: 58. The temperature is 46.9
Current Index: 59. The temperature is 68.5
Current Index: 60. The temperature is 73.5
Current Index: 61. The temperature is 73.5
Current Index: 62. The temperature is 58.6
Current Index: 63. The temperature is 65.0
Current Index: 64. The temperature is 33.9
Current Index: 65. The temperature is 37.4
Current Index: 66. The temperature is 51.5
Current Index: 67. The temperature is 51.0
Current Index: 68. The temperature is 30.2
Current Index: 69. The temperature is 39.4
Current Index: 70. The temperature is 30.0
Current Index: 71. The temperature is 58.6
Current Index: 72. The temperature is 75.4
Current Index: 73. The temperature is 95.6
Current Index: 74. The temperature is 92.4
Current Index: 75. The temperature is 89.8
Current Index: 76. The temperature is 70.9
Current Index: 77. The temperature is 34.9
Current Index: 78. The temperature is 46.5
Current Index: 79. The temperature is 30.3
Current Index: 80. The temperature is 52.5
Current Index: 81. The temperature is 78.9
Current Index: 82. The temperature is 48.2
Current Index: 83. The temperature is 24.4
Current Index: 84. The temperature is 33.7
Current Index: 85. The temperature is 33.7
Current Index: 86. The temperature is 33.4
Current Index: 87. The temperature is 51.2
Current Index: 88. The temperature is 51.2
Current Index: 89. The temperature is 34.5
Current Index: 90. The temperature is 32.8
Current Index: 91. The temperature is 36.2
Current Index: 92. The temperature is 54.3
Current Index: 93. The temperature is 52.0
Current Index: 94. The temperature is 46.3
Current Index: 95. The temperature is 50.1
Current Index: 96. The temperature is 49.6
Current Index: 97. The temperature is 44.0
Current Index: 98. The temperature is 48.3
Current Index: 99. The temperature is 48.3
Current Index: 100. The temperature is 32.1
Current Index: 101. The temperature is 33.8
Current Index: 102. The temperature is 38.6
Current Index: 103. The temperature is 38.0
Current Index: 104. The temperature is 39.4
Current Index: 105. The temperature is 41.7
Current Index: 106. The temperature is 45.6
Current Index: 107. The temperature is 45.6
Current Index: 108. The temperature is 45.6
Current Index: 109. The temperature is 48.8
Current Index: 110. The temperature is 47.6
Current Index: 111. The temperature is 47.6
Current Index: 112. The temperature is 40.9
Current Index: 113. The temperature is 45.7
Current Index: 114. The temperature is 38.9
Current Index: 115. The temperature is 51.6
Current Index: 116. The temperature is 50.2
Current Index: 117. The temperature is 47.6
Current Index: 118. The temperature is 47.0
Current Index: 119. The temperature is 49.2
Current Index: 120. The temperature is 49.2
Current Index: 121. The temperature is 44.0
Current Index: 122. The temperature is 41.2
Current Index: 123. The temperature is 41.9
Current Index: 124. The temperature is 41.9
Current Index: 125. The temperature is 35.0
Current Index: 126. The temperature is 32.3
Current Index: 127. The temperature is 24.6
Current Index: 128. The temperature is 22.7
Current Index: 129. The temperature is 33.7
Current Index: 130. The temperature is 51.0
Current Index: 131. The temperature is 46.0
Current Index: 132. The temperature is 45.6
Current Index: 133. The temperature is 45.1
Current Index: 134. The temperature is 44.4
Current Index: 135. The temperature is 59.6
Current Index: 136. The temperature is 23.6
Current Index: 137. The temperature is 30.4
Current Index: 138. The temperature is 37.9
Current Index: 139. The temperature is 32.0
Current Index: 140. The temperature is 26.5
Current Index: 141. The temperature is 29.1
Current Index: 142. The temperature is 43.0
Current Index: 143. The temperature is 38.4
Current Index: 144. The temperature is 33.9
Current Index: 145. The temperature is 29.4
Current Index: 146. The temperature is 55.7
Current Index: 147. The temperature is 46.9
Current Index: 148. The temperature is 53.7
Current Index: 149. The temperature is 59.2
Current Index: 150. The temperature is 50.5
Current Index: 151. The temperature is 49.9
Current Index: 152. The temperature is 47.9
Current Index: 153. The temperature is 47.9
Current Index: 154. The temperature is 44.6
Current Index: 155. The temperature is 49.4
Current Index: 156. The temperature is 41.5
Current Index: 157. The temperature is 43.9
Current Index: 158. The temperature is 45.2
Current Index: 159. The temperature is 54.7
Current Index: 160. The temperature is 55.8
Current Index: 161. The temperature is 68.9
Current Index: 162. The temperature is 58.3
Current Index: 163. The temperature is 52.0
Current Index: 164. The temperature is 46.0
Current Index: 165. The temperature is 39.5
Current Index: 166. The temperature is 31.7
Current Index: 167. The temperature is 32.9
Current Index: 168. The temperature is 75.8
Current Index: 169. The temperature is 47.1
Current Index: 170. The temperature is 32.4
Current Index: 171. The temperature is 55.9
Current Index: 172. The temperature is 41.4
Current Index: 173. The temperature is 69.5
Current Index: 174. The temperature is 33.7
Current Index: 175. The temperature is 53.6
Current Index: 176. The temperature is 29.6
Current Index: 177. The temperature is 26.0
Current Index: 178. The temperature is 24.0
Current Index: 179. The temperature is 25.0
Current Index: 180. The temperature is 43.6
Current Index: 181. The temperature is 43.3
Current Index: 182. The temperature is 45.1
Current Index: 183. The temperature is 45.6
Current Index: 184. The temperature is 55.3
Current Index: 185. The temperature is 53.6
Current Index: 186. The temperature is 61.3
Current Index: 187. The temperature is 62.4
Current Index: 188. The temperature is 57.1
Current Index: 189. The temperature is 71.9
Current Index: 190. The temperature is 67.1
Current Index: 191. The temperature is 60.4
Current Index: 192. The temperature is 75.1
Current Index: 193. The temperature is 51.5
Current Index: 194. The temperature is 66.4
Current Index: 195. The temperature is 63.1
Current Index: 196. The temperature is 86.8
Current Index: 197. The temperature is 88.8
Current Index: 198. The temperature is 87.9
Current Index: 199. The temperature is 83.6
Current Index: 200. The temperature is 84.0
Current Index: 201. The temperature is 94.2
Current Index: 202. The temperature is 85.0
Current Index: 203. The temperature is 65.9
Current Index: 204. The temperature is 95.1
Current Index: 205. The temperature is 80.1
Current Index: 206. The temperature is 89.8
Current Index: 207. The temperature is 80.8
Current Index: 208. The temperature is 85.1
Current Index: 209. The temperature is 85.1
Current Index: 210. The temperature is 95.0
Current Index: 211. The temperature is 83.5
Current Index: 212. The temperature is 98.0
Current Index: 213. The temperature is 90.8
Current Index: 214. The temperature is 90.1
Current Index: 215. The temperature is 87.5
Current Index: 216. The temperature is 96.4
Current Index: 217. The temperature is 98.0
Current Index: 218. The temperature is 103.5
Current Index: 219. The temperature is 102.4
Current Index: 220. The temperature is 101.0
Current Index: 221. The temperature is 91.9
Current Index: 222. The temperature is 91.9
Current Index: 223. The temperature is 94.9
Current Index: 224. The temperature is 85.8
Current Index: 225. The temperature is 88.8
Current Index: 226. The temperature is 82.0
Current Index: 227. The temperature is 57.3
Current Index: 228. The temperature is 75.9
Current Index: 229. The temperature is 64.5
Current Index: 230. The temperature is 46.8
Current Index: 231. The temperature is 52.2
Current Index: 232. The temperature is 73.1
Current Index: 233. The temperature is 64.7
Current Index: 234. The temperature is 77.2
Current Index: 235. The temperature is 66.6
Current Index: 236. The temperature is 55.0
Current Index: 237. The temperature is 37.7
Current Index: 238. The temperature is 40.5
Current Index: 239. The temperature is 41.0
Current Index: 240. The temperature is 71.3
Current Index: 241. The temperature is 47.2
Current Index: 242. The temperature is 38.7
Current Index: 243. The temperature is 40.5
Current Index: 244. The temperature is 37.7
Current Index: 245. The temperature is 21.7
Current Index: 246. The temperature is 33.0
Current Index: 247. The temperature is 46.3
Current Index: 248. The temperature is 38.9
Current Index: 249. The temperature is 25.2
Current Index: 250. The temperature is 42.6
Current Index: 251. The temperature is 41.1
Current Index: 252. The temperature is 35.6
Current Index: 253. The temperature is 24.4
Current Index: 254. The temperature is 41.0
Current Index: 255. The temperature is 42.7
Current Index: 256. The temperature is 57.1
Current Index: 257. The temperature is 52.5
Current Index: 258. The temperature is 57.0
Current Index: 259. The temperature is 68.4
Current Index: 260. The temperature is 88.4
Current Index: 261. The temperature is 86.1
Current Index: 262. The temperature is 58.6
Current Index: 263. The temperature is 89.7
Current Index: 264. The temperature is 92.0
Current Index: 265. The temperature is 92.3
Current Index: 266. The temperature is 79.5
Current Index: 267. The temperature is 51.3
Current Index: 268. The temperature is 60.4
Current Index: 269. The temperature is 58.8
Current Index: 270. The temperature is 88.8
Current Index: 271. The temperature is 97.6
Current Index: 272. The temperature is 86.1
Current Index: 273. The temperature is 44.4
Current Index: 274. The temperature is 82.5
Current Index: 275. The temperature is 85.5
Current Index: 276. The temperature is 86.2
Current Index: 277. The temperature is 35.5
Current Index: 278. The temperature is 74.6
Current Index: 279. The temperature is 41.2
Current Index: 280. The temperature is 41.7
Current Index: 281. The temperature is 59.7
Current Index: 282. The temperature is 66.4
Current Index: 283. The temperature is 94.1
Current Index: 284. The temperature is 51.6
Current Index: 285. The temperature is 39.8
Current Index: 286. The temperature is 75.4
Current Index: 287. The temperature is 85.5
Current Index: 288. The temperature is 94.9
Current Index: 289. The temperature is 97.2
Current Index: 290. The temperature is 94.2
Current Index: 291. The temperature is 93.8
Current Index: 292. The temperature is 90.3
Current Index: 293. The temperature is 95.4
Skipping Index 294: NO_DATA not found at URL.
Skipping Index 295: NO_DATA not found at URL.
Skipping Index 296: Kalorama Triangle not found at URL.
Current Index: 297. The temperature is 62.2
Current Index: 298. The temperature is 70.7
Current Index: 299. The temperature is 70.8
Current Index: 300. The temperature is 64.2
Current Index: 301. The temperature is 66.2
Current Index: 302. The temperature is 46.4
Current Index: 303. The temperature is 84.3
Current Index: 304. The temperature is 86.8
Current Index: 305. The temperature is 86.8
Current Index: 306. The temperature is 88.1
Current Index: 307. The temperature is 88.1
Current Index: 308. The temperature is 95.1
Current Index: 309. The temperature is 69.2
Current Index: 310. The temperature is 88.6
Current Index: 311. The temperature is 43.3
Current Index: 312. The temperature is 64.7
Current Index: 313. The temperature is 59.5
Skipping Index 314: Kalorama Triangle not found at URL.
Current Index: 315. The temperature is 33.6
Current Index: 316. The temperature is 10.4
Current Index: 317. The temperature is 49.3
Current Index: 318. The temperature is 93.1
Current Index: 319. The temperature is 39.7
Current Index: 320. The temperature is 38.1
Current Index: 321. The temperature is 29.8
Current Index: 322. The temperature is 17.7
Current Index: 323. The temperature is 34.6
Current Index: 324. The temperature is 27.5
Current Index: 325. The temperature is 32.8
Current Index: 326. The temperature is 53.2
Current Index: 327. The temperature is 68.3
Current Index: 328. The temperature is 68.5
Current Index: 329. The temperature is 72.5
Current Index: 330. The temperature is 92.9
Current Index: 331. The temperature is 78.9
Current Index: 332. The temperature is 75.7
Current Index: 333. The temperature is 73.8
Current Index: 334. The temperature is 69.8
Current Index: 335. The temperature is 83.7
Current Index: 336. The temperature is 80.2
Current Index: 337. The temperature is 83.8
Current Index: 338. The temperature is 86.3
Current Index: 339. The temperature is 88.2
Current Index: 340. The temperature is 83.6
Current Index: 341. The temperature is 78.2
Current Index: 342. The temperature is 84.8
Current Index: 343. The temperature is 88.3
Current Index: 344. The temperature is 90.0
Current Index: 345. The temperature is 95.0
Current Index: 346. The temperature is 90.8
Current Index: 347. The temperature is 92.2
Current Index: 348. The temperature is 92.2
Current Index: 349. The temperature is 74.2
Current Index: 350. The temperature is 72.6
Current Index: 351. The temperature is 61.2
Current Index: 352. The temperature is 59.5
Current Index: 353. The temperature is 66.4
Current Index: 354. The temperature is 62.1
Current Index: 355. The temperature is 60.5
Current Index: 356. The temperature is -10.4
Current Index: 357. The temperature is 40.2
Current Index: 358. The temperature is 92.0
Current Index: 359. The temperature is 98.2
Current Index: 360. The temperature is 30.0
Current Index: 361. The temperature is 26.2
Current Index: 362. The temperature is 35.2
Current Index: 363. The temperature is 64.8
Current Index: 364. The temperature is 64.0
Current Index: 365. The temperature is 56.1
Current Index: 366. The temperature is 47.8
Current Index: 367. The temperature is 34.8
Current Index: 368. The temperature is 45.6
Current Index: 369. The temperature is 75.2
Current Index: 370. The temperature is 55.9
Current Index: 371. The temperature is 69.2
Current Index: 372. The temperature is 72.9
Current Index: 373. The temperature is 70.5
Current Index: 374. The temperature is 68.5
Current Index: 375. The temperature is 68.8
Current Index: 376. The temperature is 60.8
Current Index: 377. The temperature is 57.3
Current Index: 378. The temperature is 63.5
Current Index: 379. The temperature is 46.3
Current Index: 380. The temperature is 92.5
Current Index: 381. The temperature is 55.0
Current Index: 382. The temperature is 43.9
Current Index: 383. The temperature is 80.0
Current Index: 384. The temperature is 75.5
Current Index: 385. The temperature is 71.8
Current Index: 386. The temperature is 61.3
Skipping Index 387: SOMISSPO not found at URL.
Current Index: 388. The temperature is 30.0
Current Index: 389. The temperature is 58.2
Current Index: 390. The temperature is 58.7
Current Index: 391. The temperature is 82.5
Current Index: 392. The temperature is 70.0
Current Index: 393. The temperature is 21.1
Current Index: 394. The temperature is 56.9
Current Index: 395. The temperature is 55.4
Current Index: 396. The temperature is 62.7
Current Index: 397. The temperature is 41.2
Current Index: 398. The temperature is 35.9
Current Index: 399. The temperature is 29.6
Current Index: 400. The temperature is 73.8
Current Index: 401. The temperature is 38.0
Current Index: 402. The temperature is 89.0
Current Index: 403. The temperature is 28.1
Current Index: 404. The temperature is 55.0
Current Index: 405. The temperature is 49.9
Current Index: 406. The temperature is 44.1
Current Index: 407. The temperature is 37.2
Current Index: 408. The temperature is 57.1
Current Index: 409. The temperature is 67.1
Current Index: 410. The temperature is 76.6
Current Index: 411. The temperature is 73.7
Current Index: 412. The temperature is 80.5
Current Index: 413. The temperature is 58.7
Current Index: 414. The temperature is 31.7
Current Index: 415. The temperature is 27.2
Current Index: 416. The temperature is 37.5
Current Index: 417. The temperature is 81.7
Current Index: 418. The temperature is 51.9
Current Index: 419. The temperature is 64.3
Current Index: 420. The temperature is 64.3
Current Index: 421. The temperature is 56.1
Current Index: 422. The temperature is 60.3
Current Index: 423. The temperature is 63.7
Current Index: 424. The temperature is 66.2
Current Index: 425. The temperature is 95.5
Current Index: 426. The temperature is 101.3
Current Index: 427. The temperature is 96.6
Current Index: 428. The temperature is 102.6
Current Index: 429. The temperature is 89.6
Current Index: 430. The temperature is 99.8
Current Index: 431. The temperature is 99.1
Current Index: 432. The temperature is 92.8
Current Index: 433. The temperature is 96.7
Current Index: 434. The temperature is 93.3
Current Index: 435. The temperature is 89.1
Current Index: 436. The temperature is 89.1
Current Index: 437. The temperature is 81.9
Current Index: 438. The temperature is 87.6
Current Index: 439. The temperature is 87.7
Current Index: 440. The temperature is 87.7
Current Index: 441. The temperature is 64.6
Current Index: 442. The temperature is 64.6
Current Index: 443. The temperature is 61.9
Skipping Index 444: Noorpur Shahan not found at URL.
Skipping Index 445: Noorpur Shahan not found at URL.
Skipping Index 446: Noorpur Shahan not found at URL.
Current Index: 447. The temperature is 99.6
Current Index: 448. The temperature is 63.2
Skipping Index 449: NO_DATA not found at URL.
Skipping Index 450: NO_DATA not found at URL.
Skipping Index 451: NO_DATA not found at URL.
Skipping Index 452: NO_DATA not found at URL.
Skipping Index 453: NO_DATA not found at URL.
Skipping Index 454: NO_DATA not found at URL.

In [ ]:
df.head(500)

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,TEMPERATURE,IS_DAY,RAIN,SNOWFALL,SHOWERS,WEATHER_CODE,WIND_SPEED_10M,WIND_GUSTS_10M
0,2016-11-05 19:20:00,2016-11-05 19:28:00,Business,Agnew,Agnew,2.2,NO_DATA,49.3,0.0,0.0,0.0,0.0,1.0,4.0,5.0
1,2016-11-04 22:12:00,2016-11-04 22:25:00,Business,Cory,Agnew,3.9,NO_DATA,41.6,0.0,0.0,0.0,0.0,0.0,6.2,13.3
2,2016-11-05 17:29:00,2016-11-05 17:40:00,Business,Renaissance,Agnew,2.8,NO_DATA,52.5,0.0,0.0,0.0,0.0,1.0,7.0,14.8
3,2016-11-06 16:05:00,2016-11-06 16:22:00,Business,Renaissance,Agnew,2.8,Meeting,43.9,1.0,0.0,0.0,0.0,0.0,16.3,34.6
4,2016-03-17 17:20:00,2016-03-17 18:02:00,Business,Midtown,Alief,15.5,Meal/Entertain,50.9,1.0,0.0,0.0,0.0,3.0,6.8,28.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2016-12-28 18:33:00,2016-12-28 18:56:00,Business,Karachi,Karachi,3.8,Errand/Supplies,76.0,0.0,0.0,0.0,0.0,0.0,10.2,19.1
496,2016-12-28 22:44:00,2016-12-28 23:18:00,Business,Karachi,Karachi,5.1,Errand/Supplies,72.5,0.0,0.0,0.0,0.0,0.0,8.1,11.5
497,2016-12-29 00:49:00,2016-12-29 01:06:00,Business,Karachi,Karachi,3.8,Errand/Supplies,70.0,0.0,0.0,0.0,0.0,1.0,8.1,11.2
498,2016-12-29 12:25:00,2016-12-29 12:33:00,Business,Karachi,Karachi,1.4,Errand/Supplies,79.5,1.0,0.0,0.0,0.0,0.0,9.4,20.5
499,2016-12-29 13:17:00,2016-12-29 13:24:00,Business,Karachi,Karachi,1.1,Errand/Supplies,80.8,1.0,0.0,0.0,0.0,0.0,11.5,23.8

10. Prep the DataFrame so that it would be ready for modeling (don't worry, we won't start modeling just yet!):

a) keep only numeric columns (in a copy)

b) fill in Na values with the group-wise mean for each START location if applicable

c) create these interaction features:
  - Temperature x Wind Speed (Low temp AND high winds = awful combo, high temp AND high winds = good combo)
  - Overall Weather Stress (Hint: summation)

In [22]:
number_cols = df.select_dtypes(include=[np.number]).columns
df_number_only = df[number_cols].copy()

weather_cols = ['TEMPERATURE', 'RAIN', 'WIND_SPEED_10M', 'SNOWFALL', 'SHOWERS', 'WEATHER_CODE', 'WIND_GUSTS_10M']

for col in weather_cols:
  if col in df_number_only.columns:
    # Only fill NaN values in the relevant weather columns
    # Group by 'START' from the original df to get the correct grouping for the mean
    group_mean = df_number_only.groupby(df['START'])[col].transform('mean')
    df_number_only[col] = df_number_only[col].fillna(group_mean)

df_number_only['TEMP_WIND'] = df_number_only['TEMPERATURE'] * df_number_only['WIND_SPEED_10M']
df_number_only['WEATHER_STRESS'] = df_number_only[weather_cols].sum(axis=1)